html, body{
    background-color: #ececec;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    width: 100%;
}
.container{
    background-color: white;
}
header{
    margin-bottom: 20px;
    border-bottom:solid 5px #F68F13 ;
}
.navbar{
    background-color:#414141;
}
h1{
    margin-bottom: 20px;
    border-bottom: solid 1px lightgray;
}


/* ABOUT ME */
#panda{
    width: 250px;
    padding-left: 10px;
}

/* PORTFOLIO */
.card{
    margin: 10px;
    border: none;
    width: 18rem;
}
/* The width was on the HTML but i deleted for Media qs */

/* CONTACT PAGE */
.btn-primary{
    background-color: #F68F13;
    margin: 20px 0;
    color: #414141;
}
.btn-primary:hover{
    background-color: #d3d3d3;
}
.btn-primary:active{
    background-color:#414141 !important;
}

.form{
    margin-top: 20px;
}


.footer{
  width: 100%;
  height: 3rem;
  background-color: #414141;
  border-top:solid 5px #F68F13 ;
  text-align: center;
}









