body{
}
.container{
    width: 75%;
}
header{
    margin-bottom: 50px;
    border-bottom:solid 5px black ;
}
.navbar{
    background-color:#414141;
}

#panda{
    width: 250px;
    height: auto;
}
.card{
    margin-top: 20px;
    border: none;
}
/* This is for the socials */
footer{
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  background-color: lightsalmon;
}
.blockquote{
    padding: 10px;
    text-align: center;
}



/* this goes with the old HTML Maybe Delete? */
.display-4{
    border-bottom: solid 1px lightgray;
}
.clearfix{
    background-color: #eee;
}
.img-fluid{
    margin:15px 30px;
    float: left;
}
.text-justify{
    margin-left: 10px;
}