html, body{
    background-color: #ececec;
    font-family: 'Roboto', sans-serif;
;
}
.container{
    width: 90%;
    background-color: white;
}
header{
    margin-bottom: 20px;
    border-bottom:solid 5px #F68F13 ;
}
.wu-dark{
    background-color:#414141;
}

h1{
    margin-bottom: 20px;
    border-bottom: solid 1px lightgray;
}
#panda{
    width: 250px;
    padding-left: 10px;
}
.card{
    margin-top: 20px;
    border: none;
}
.btn-primary{
    background-color: #F68F13;
    margin: 40px 0;
    color: #414141;
}
.footer{
  position: sticky;  
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  background-color: #414141;
  border-top:solid 5px #F68F13 ;
  text-align: center;
}

.form{
    margin-top: 20px;
}






